<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mangege.xposedlucidmod"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*" />
        <meta-data
            android:name="xposeddescription"
            android:value="LG Lucid VS840修改器,添加系统选择到设置,移除状态栏漫游图标" />
    </application>

</manifest>